<form class="" action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="title">Title</label>
  <input class="title" type="text" name="track[title]" value="<%= @track.title %>">
  <br>

  <label for="ord">Ord</label>
  <input class="ord" type="text" name="track[ord]" value="<%= @track.ord %>">
  <br>

  <label for="bonus">Bonus Track</label>
  <input class="bonus" type="radio" name="track[bonus?]"
    <%= "checked" if @track.bonus? %>
    value="true">

  <label for="regular">Regular Track</label>
  <input class="regular" type="radio" name="track[bonus?]"
    <%= "checked" unless @track.bonus? %>
    value="false">
  <br>

  <label for="lyrics">Lyrics</label>
  <input type="textarea" name="track[lyrics]" value="<%= @track.lyrics %>">
  <br>

  <label for="album">Album</label>
  <select class="album" name="track[album_id]">
    <% Album.all.each do |album| %>
      <option value="<%=album.id%>" <%= "selected" if @track.album_id == album.id %> >
        <%= album.title %>
      </option>
    <% end %>
  </select>

  <input type="submit" value="Add Track">
</form>
